*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header h2{
    color: #fff;
  }
  .header{
    display: flex;
    background: #223671;
    padding: 20px 20px;
    text-transform: uppercase;
    justify-content: space-between;
  }
  .header ul{
    display: flex;
    list-style: none;
  }
  .header ul li{
    padding: 5px 20px;
  }
  .header ul li button{
    outline: none;
    background-color: #F26526;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }
