* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: .1s;
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;

}

.sub-menu ul {
    padding-left: 20px;
}

.sub-menu ul a {
    font-weight: normal !important;
    font-size: 12px !important;
}

.sub-menu ul button {
    font-weight: normal !important;
    font-size: 12px !important;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #f26526;
    opacity: 0.7;
}

header.sticky {
    background: #f26526;
    opacity: 1.0;
}

header:hover {
    background: #f26526;
    opacity: 1.0;
}

.logo {
    flex: 1;
}

.menu {
    flex: 3;
    display: flex;
}

.menu li {
    padding: 0 12px;
    position: relative;
}

.menu li a {
    font-size: 12px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}

.menu li:hover .sub-menu {
    visibility: visible;
    top: 45px;
}

.others {
    flex: 2;
    display: flex;
}

.others li {
    padding: 0 12px;

}

.others li:first-child {
    position: relative;
}

.others li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.others li:first-child button {
    position: absolute;
    right: 10px;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.user {
    position: relative;

}

.user .loginUser {
    position: absolute;
    background: #223671;
    width: 100px;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    top: 45px;


}

/* .user:hover .login {
    display: flex;

} */



.Login {
    font-size: 12px;
    font-weight: bold !important;
    line-height: 20px;
    color: #fff;
}

.modal_signin {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal_login {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.wapper {
    width: 300px;
    position: relative;
    background-color: #fff;
    top: 50%;
    left: 50%;
    padding: 10px 30px 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.wapper input {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid #0093ab;
    outline: none;
    border-radius: 10px;
}

.wapper .btn {
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #223671;
    transition: all 0.2s linear;
}

.btn:hover {
    transform: scale(1.1);
}

.wapper input:focus {
    border: 1px solid #F26526;
}

.wapper input::placeholder {
    color: black;
}

.wapper .signup_btn {
    display: block;
    transform: translateX(120px);
    margin-bottom: 20px;
    color: #F26526;
}

/* .signin {
    display: none;
} */

/* .login {
    display: none;
} */

#Slider {
    padding-bottom: 30px;
    /* border-bottom: 2px solid #000; */
    overflow: hidden;
    background: #f26526;

}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.dot {
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
}

.dot.active {
    background-color: #333;
}

.fashion {
    max-width: 1170px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    /* background: #f26526; */
}

.fashion h3 {
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 15px 30px;

}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.products li {
    flex-basis: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.product-top {
    position: relative;
    overflow: hidden;
}

.products li img {
    max-width: 100%;
    height: auto;
    border: 2px solid #223671;

}

.product-thumb {
    display: block;
}

.product-thumb img {
    display: block;
}

.buy-now {
    color: #fff;
    height: 30px;
    display: block;
    text-transform: uppercase;
    background-color: #223671;
    opacity: 0.7;
    text-align: center;
    padding: 6px 0;
    font-weight: 600;
    position: absolute;
    width: 100%;
    bottom: -30px;
    border: none;


}

.product-item:hover .buy-now {
    bottom: 0;
    overflow: visible;
    transition: 0.3s ease-in-out;
}

.buy-now:hover {
    background-color: #223671;
    opacity: 1.0;

}

.product-info {
    padding: 10px 0;
}

.product-name {
    font-weight: 500;
    color: #333;
    font-size: 15px;
    padding: 2px 5px;
}

.product-price {
    color: #000;
    font-weight: 600;
    padding: 2px 5px;
}


/*------------------------------- message------------------------------------- */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast {
    min-width: 200px;
    max-width: 400px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s;
    z-index: 99999;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% +32px));
    }

    to {
        opacity: 1;
        transform: translateX(calc(0));
    }
}

@keyframes outLine {
    to {
        opacity: 0;
    }
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__icon {
    font-size: 24px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600px;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.toast+.toast {
    margin-top: 24px;
}

.toast--success {
    border-color: #2f86be;
}

.toast--success .toast__icon {
    color: #2f86be;
}

/* -------------------------------footer-------------------------- */
footer {
    text-align: center;
    /* background: #f26526; */
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-top li {
    position: relative;
    padding: 0 12px;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-center {
    text-align: center;
}